# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Misc
.DS_Store
*.pem
.env*.local
.vscode/
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.assets.cache
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.GeneratedMSBuildEditorConfig.editorconfig
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.GlobalUsings.g.cs
/dotnet/EmptySlot.Mobile/obj/EmptySlot.Mobile.csproj.nuget.g.props
/dotnet/EmptySlot.Mobile/obj/EmptySlot.Mobile.csproj.nuget.g.targets
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.assets.cache
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.GeneratedMSBuildEditorConfig.editorconfig
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.GlobalUsings.g.cs
/package-lock.json
