# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Misc
.DS_Store
*.pem
.env*.local
.vscode/
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
/dotnet/.vs/EmptySlot
/dotnet/EmptySlot.API/bin/Debug/net8.0/EmptySlot.API.dll
/dotnet/EmptySlot.API/bin/Debug/net8.0/EmptySlot.API.exe
/dotnet/EmptySlot.API/bin/Debug/net8.0/EmptySlot.API.pdb
/dotnet/EmptySlot.API/bin/Debug/net8.0/EmptySlot.Shared.dll
/dotnet/EmptySlot.API/bin/Debug/net8.0/EmptySlot.Shared.pdb
/dotnet/EmptySlot.API/obj/Debug/net8.0/ref/EmptySlot.API.dll
/dotnet/EmptySlot.API/obj/Debug/net8.0/refint/EmptySlot.API.dll
/dotnet/EmptySlot.API/EmptySlot.API.csproj.user
/dotnet/EmptySlot.API/obj/Debug/net8.0/apphost.exe
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.AssemblyInfo.cs
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.AssemblyInfoInputs.cache
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.csproj.AssemblyReference.cache
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.csproj.FileListAbsolute.txt
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.dll
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.MvcApplicationPartsAssemblyInfo.cs
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.pdb
/dotnet/EmptySlot.API/obj/Debug/net8.0/EmptySlot.API.sourcelink.json
/dotnet/EmptySlot.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/dotnet/EmptySlot.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/dotnet/EmptySlot.API/obj/EmptySlot.API.csproj.nuget.dgspec.json
/dotnet/EmptySlot.API/obj/project.assets.json
/dotnet/EmptySlot.API/obj/project.nuget.cache
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.AssemblyInfo.cs
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.AssemblyInfoInputs.cache
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.csproj.AssemblyReference.cache
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.csproj.CoreCompileInputs.cache
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.csproj.FileListAbsolute.txt
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-android/EmptySlot.Mobile.sourcelink.json
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-ios/EmptySlot.Mobile.AssemblyInfo.cs
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-ios/EmptySlot.Mobile.AssemblyInfoInputs.cache
/dotnet/EmptySlot.Mobile/obj/Debug/net8.0-ios/EmptySlot.Mobile.csproj.AssemblyReference.cache
/dotnet/EmptySlot.Mobile/obj/EmptySlot.Mobile.csproj.nuget.dgspec.json
/dotnet/EmptySlot.Mobile/obj/project.assets.json
/dotnet/EmptySlot.Mobile/obj/project.nuget.cache
/dotnet/EmptySlot.Shared/bin/Debug/net8.0/EmptySlot.Shared.dll
/dotnet/EmptySlot.Shared/bin/Debug/net8.0/EmptySlot.Shared.pdb
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/ref/EmptySlot.Shared.dll
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.AssemblyInfo.cs
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.AssemblyInfoInputs.cache
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.dll
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.pdb
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/EmptySlot.Shared.sourcelink.json
/dotnet/EmptySlot.Shared/obj/Debug/net8.0/refint/EmptySlot.Shared.dll
/dotnet/EmptySlot.Shared/obj/EmptySlot.Shared.csproj.nuget.dgspec.json
/dotnet/EmptySlot.Shared/obj/project.assets.json
/dotnet/EmptySlot.Shared/obj/project.nuget.cache
/dotnet/EmptySlot.slnLaunch.user
